@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <p>Page created to learn how to use GPT Api in practice.</p>
    <p>Feel free to do whatever you want with this code.</p>
</div>
